<h1>Comments by <%= @user.name %>:</h1>


<% @comments.each do |comment| %>
 <div class='well'>
    <p><%= comment.content %></p>
	<p class="pull-right">in response to '<%= comment.post.title %>'</p>
 </div>
<% end %>
</table>

<br />